@media only screen and (max-width: 1250px){
    .services2{
        height: max-content;
    }
    .services2-content{
        width: 70vw;
        height: max-content;
        display: grid;
        grid-template-columns: auto;
        margin-left: 15vw;
        justify-content: center;
    }

    .service2{
        width: 70vw;
        height: 40vh;
        margin: 10px;
        border-radius: 5px;
        padding: 15px;
        color: white;
    }

    .logos img{
        height: 7%;
        width: 7%;
        margin-left: 15%;
        padding-bottom: 10%;
    }
}

@media only screen and (max-width: 800px){
    .services {
        grid-template-columns: auto auto auto;
    }
    .service{
        width: 33vw;
    }
    .service img{
        width: 33vw;
    }

    .overview-heading{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px){
    .services {
        grid-template-columns: auto auto;
    }
    .service{
        width: 50vw;
    }
    .service img{
        width: 50vw;
    }
}

@media only screen and (max-width: 550px){
    .services2{
        height: max-content;
    }

    .services2-content{
        width: 70vw;
        height: max-content;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .service2{
        width: 90vw;
        height: 40vh;
        border-radius: 5px;
        color: white;
    }
}

@media only screen and (max-width: 400px){
    .services {
        grid-template-columns: auto;
    }
    .service{
        width: 100vw;
    }
    .service img{
        width: 100vw;
    }

    .service2{
        width: 90vw;
        height: 45vh;
        border-radius: 5px;
        color: white;
    }

    .logos{
        margin-top: 5%;
        margin-left: 40%;
    }
}
